 @model TestWebUpdated.Models.DepartmentViewModel

@{
	ViewData["Title"] = "Add Department";
	var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
	<div class="alert alert-danger">
		<strong>Error!</strong>@errorMessage
		<button type="button" class="btn-close float-end" data-ds-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form action="Add" method="post">
	<div class="mb-3">
		<label class="form-label">Department Name</label>
		<input type="text" class="form-control" asp-for="DepartmentName" />
		<span asp-validation-for="DepartmentName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Department Description</label>
		<input type="text" class="form-control" asp-for="DepartmentDescription" />
		<span asp-validation-for="DepartmentDescription" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>